<div class="container-fluid">
  <div class="row">
    <div class="col-8">
      <div class="matrix">
        <div class="matrix__container">
          <div *ngIf="matrixIsBuilt" class="alert alert-primary">Click on cells to change the value.</div>
          <table class="matrix__table"></table>
          <div *ngIf="matrixIsBuilt" class="matrix__calculation">
            <button type="button" class="btn btn-success" (click)="checkMatrix()">Check Matrix</button>
            <div>Result:</div>
            <div class="result">{{result}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <form [formGroup]="form" (ngSubmit)="drawMatrix()">
        <div class="form-group">
          <label for="matrixWidth">Enter matrix width:</label>
          <input
            formControlName="matrixWidth"
            type="number"
            id="matrixWidth"
            class="form-control"
          >
          <div *ngIf="!form.get('matrixWidth').valid && form.get('matrixWidth').touched" class="alert alert-danger">
            <div *ngIf="form.get('matrixWidth').errors.required">This field is required.</div>
            <div *ngIf="form.get('matrixWidth').errors.min">Minimum value is 1.</div>
            <div *ngIf="form.get('matrixWidth').errors.max">Maximum value is 10.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="matrixHeight">Enter matrix height:</label>
          <input
            formControlName="matrixHeight"
            type="number"
            id="matrixHeight"
            class="form-control"
          >
          <div *ngIf="!form.get('matrixHeight').valid && form.get('matrixHeight').touched" class="alert alert-danger">
            <div *ngIf="form.get('matrixHeight').errors.required">This field is required.</div>
            <div *ngIf="form.get('matrixHeight').errors.min">Minimum value is 1.</div>
            <div *ngIf="form.get('matrixHeight').errors.max">Maximum value is 10.</div>
          </div>
        </div>
        <button [disabled]="!form.valid" class="btn btn-primary">Create Matrix</button>
      </form>
      <div *ngIf="history.length" class="history">
        <h2 class="history__title">Checked matrices:</h2>
        <ul class="history__list">
          <li class="history__item" *ngFor="let historyItem of history; let i = index">
            <span>Matrix {{i + 1}}</span>
            <button type="button" class="btn btn-warning" (click)="restoreMatrix(i)">Restore</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
